.message data-id=message.id
  .pull-xs-left
    p = message.content
  .pull-xs-right
    = link_to 'remove', message_path(message), method: :delete, class: 'btn btn-danger', confirm: 'Delete?', remote: true
.clearfix
