.container
  .row
    h1 Chat room
    #messages
      = render @messages
    hr
    = form_for Message.new, remote: true, html: { class: 'form js-chat-form' } do |f|
      fieldset.form-group
        = f.text_field :content, class: 'form-control'
      button type="submit" class="btn btn-primary" Submit
